<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Cast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="chars.length > 0">

    <ion-list id="characters-list">
        <ion-item button detail lines="inset" *ngFor="let character of chars" (click)="openDetails(character)">
            <ion-avatar slot="start">
                <img src="{{ character.img }}">
            </ion-avatar>
            <ion-label>
                <h2>{{ character.name }}</h2>
                <p>Birthday {{ character.birthday }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="15%" id="infinite-scroll" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data..." style="background-color:rgb(255, 255, 255, 0.7);">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<!-- if there are no results from the API, apply an empty content to allow a dark layer over the background image-->
<ion-content fullscreen="true" *ngIf="chars.length == 0 || chars == null"></ion-content>