<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Episodes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="eps.length > 0">
    <ion-list class="episodes-list">
        <ion-list-header>
            <ion-chip color="danger">
                <ion-label>Season 1</ion-label>
            </ion-chip>
        </ion-list-header>
        <ion-item button detail lines="inset" *ngFor="let episode of eps | myfilter:{season:1}">
            <ion-label>
                <h2>{{ episode.title }}</h2>
                <p>Air date: {{ episode.title }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list class="episodes-list">
        <ion-list-header>
            <ion-chip color="danger">
                <ion-label>Season 2</ion-label>
            </ion-chip>
        </ion-list-header>
        <ion-item button detail lines="inset" *ngFor="let episode of eps | myfilter:{season:2}">
            <ion-label>
                <h2>{{ episode.title }}</h2>
                <p>Air date: {{ episode.title }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list class="episodes-list">
        <ion-list-header>
            <ion-chip color="danger">
                <ion-label>Season 3</ion-label>
            </ion-chip>
        </ion-list-header>
        <ion-item button detail lines="inset" *ngFor="let episode of eps | myfilter:{season:3}">
            <ion-label>
                <h2>{{ episode.title }}</h2>
                <p>Air date: {{ episode.title }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list class="episodes-list">
        <ion-list-header>
            <ion-chip color="danger">
                <ion-label>Season 4</ion-label>
            </ion-chip>
        </ion-list-header>
        <ion-item button detail lines="inset" *ngFor="let episode of eps | myfilter:{season:4}">
            <ion-label>
                <h2>{{ episode.title }}</h2>
                <p>Air date: {{ episode.title }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list class="episodes-list">
        <ion-list-header>
            <ion-chip color="danger">
                <ion-label>Season 5</ion-label>
            </ion-chip>
        </ion-list-header>
        <ion-item button detail lines="inset" *ngFor="let episode of eps | myfilter:{season:5}">
            <ion-label>
                <h2>{{ episode.title }}</h2>
                <p>Air date: {{ episode.title }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
