<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
	
    <ion-tab-button tab="cast">
	
      <ion-icon name="people-circle-outline"></ion-icon>
	
      <ion-label>Cast</ion-label>
	
    </ion-tab-button>
	
    <ion-tab-button tab="episodes">
	
      <ion-icon name="videocam-outline"></ion-icon>
	
      <ion-label>Episodes</ion-label>
	
    </ion-tab-button>
	
    <ion-tab-button tab="quotes">
	
      <ion-icon name="chatbubble-outline"></ion-icon>
	
      <ion-label>Quotes</ion-label>
	
    </ion-tab-button>

    <ion-tab-button tab="death">
	
      <ion-icon name="skull-outline"></ion-icon>
	
      <ion-label>Death</ion-label>
	
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>