<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/cast"></ion-back-button>
    </ion-buttons>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
              <h6>Walter White</h6>
              <p class="subtitleCredits">Icon Designer</p>
              <p><a href="https://icon-library.net/icon/walter-white-icon-4.html">Walter White Icon #97022</a></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
              <h6>NAL/Chequered Ink</h6>
              <p class="subtitleCredits">Font Designer</p>
              <p><a href="https://www.dafont.com/pt/heart-breaking-bad.font">Heart Breaking Bad Font</a></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
              <h6>Unknown</h6>
              <p class="subtitleCredits">Background Wallpaper Designer</p>
              <p><a href="https://www.google.com/search?q=breaking%20bad&tbm=isch&tbs=rimg%3ACeBNT2KZo7UbImDtWPWkh77-X-afQcCp4KdTIGlXFzHGZSe07IJnZ9KQdN_1-zMFHbwha3nPswXwybutlHIRspgKm5eJfTI65EXK-rlKSpPx3cVN-3wcc9JR9F6vgagD7Yty1AFdHPcEmF70qEgntWPWkh77-XxFgkzsHktlLJioSCeafQcCp4KdTEZEdtCtLf5V8KhIJIGlXFzHGZScRFGHcIFGj0HsqEgm07IJnZ9KQdBEJNRrLJfo3dioSCd_1-zMFHbwhaEaGzh8Du2bmuKhIJ3nPswXwybusR1y7PBwZPruoqEgllHIRspgKm5RHLj9UhQqeXqCoSCeJfTI65EXK-Ed56Ild7-z6HKhIJrlKSpPx3cVMRfUvPiRN3J9wqEgl-3wcc9JR9FxHygzuS2C5GaioSCavgagD7Yty1EXB6yFkC-ijsKhIJAFdHPcEmF70RoWfe8uJY3fthL1TrRzn5pT0&client=firefox-b-d&hl=pt-BR&ved=0CB0QuIIBahcKEwjwiYbBqYnpAhUAAAAAHQAAAAAQCw&biw=1908&bih=950">Breaking Bad Images(Google Search)</a></p>
              <p class="subtitleCredits">ps. I did not find the author. If someone knows the author, please contact-me.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
              <h6>Rafael Ricardo</h6>
              <p class="subtitleCredits">App Developer</p>
              <p><a href="https://github.com/rafaelricardo-rj/breaking-bad-app">GitHub link to this project</a></p>
              <p class="subtitleCredits">Contact: rafael_rikardo@yahoo.com.br</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
              <h6>Technologies</h6>
              <ul class="subtitleCredits">
                <li>Ionic Framework</li>
                <li>Angular</li>
                <li>Cordova</li>
              </ul>
              <p>For more information access the GitHub</p>
              <p><a href="https://github.com/rafaelricardo-rj/breaking-bad-app">https://github.com/rafaelricardo-rj/breaking-bad-app</a></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
