<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Deaths</ion-title>
  </ion-toolbar>
  <div id="background-searchbar">
    <ion-searchbar (ionInput)="filterDeaths($event)"></ion-searchbar>
  </div>
</ion-header>

<ion-content *ngIf="deathsArray.length > 0" [ngClass]="background">
  
  <ion-list>
    <ion-item *ngFor="let d of deathsArray">
      <ion-avatar slot="start">
          <img src="{{ charsImages[d.death] == null ? noPicUrl : charsImages[d.death]}}">
      </ion-avatar>
      <ion-label>
          <h2>{{ d.death }}</h2>
          <p>Responsible: {{ d.responsible }}</p>
          <p>Deaths: {{d.number_of_deaths}}</p>
      </ion-label>
  </ion-item>
</ion-list>
</ion-content>